<div class="container shadow mt-5 p-4" [@openClosed]="isOpen ? 'open' : 'void'"
    [@validatonBorder]=" form.touched != true ? 'void' :  (form.valid ? 'valid' : 'invalid')">
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, formDirective)" class="form-group"
                #formDirective="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Kullanıcı Adı veya e-posta</mat-label>
                    <input matInput formControlName="userName" type="text">
                    <mat-error *ngIf="userName?.errors?.['required'] && (form.touched || form.dirty)">
                        Kullanıcı adı veya e-posta boş bırakılamaz.
                    </mat-error>
                    <mat-error *ngIf="userName?.errors?.['minlength'] && (form.touched || form.dirty)">
                        Kullanıcı adı veya e-posta en az 3 karakter uzunluğunda olmalıdır.
                    </mat-error>
                    <mat-error *ngIf="userName?.errors?.['maxlength'] && (form.touched || form.dirty)">
                        Kullanıcı adı veya e-posta en fazla 40 karakter uzunluğunda olmalıdır.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Şifre</mat-label>
                    <input matInput formControlName="password" type="password">
                    <mat-error *ngIf="password?.errors?.['required'] && (form.touched || form.dirty)">
                        Şifre alanı boş bırakılamaz.
                    </mat-error>
                </mat-form-field>
                <div class="button-div">
                    <button [disabled]="form.invalid" type="submit" class="px-5"
                        [ngClass]="form.touched != true ? 'btn btn-outline-secondary btn-lg' : (form.valid ? 'btn btn-outline-success btn-lg' : 'btn btn-outline-danger btn-lg')">
                        Giriş Yap
                    </button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>