<mat-form-field appearance="fill" class="mt-2 px-2 col-12">
    <mat-label>Name</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="outline" color="primary" class="mt-2 px-2 col-12">
    <mat-label>Stock</mat-label>
    <input matInput type="number" value="0" min="0">
</mat-form-field>
<mat-form-field appearance="outline" class="mt-2 px-2 col-12">
    <mat-label>Price</mat-label>
    <input matInput type="number" value="0" min="0">
</mat-form-field>
<button mat-raised-button color="primary" class="m-auto">Create Product</button>